<div>
  <table>
    <tr>
    <th>Title</th>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td><a href="entries/<%= entry.id %>"><%= entry.title %></a></td>
    </tr>
  <% end%>
  </table>
  <form method="get" action="/new-entry">
    <input type="submit" value="Add entry">
  </form>
</div>